@import "../../assets/scss/variables.module.scss";
.loginwrapper {
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/1108914205.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  .loginFormWrapper {
    height: 400px;
    width: 290px;
    margin: auto;
    border: 4px solid #ded9ed20;
    text-align: center;
    position: relative;
    top: 10%;
    background-color: #ded9ed58;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    .loginForm {
      .loginForm_heading {
        font-size: 19px;
        margin-top: 60px;
        font-weight: 600;
      }
      .loginForm_para {
        margin-top: -5px;
        margin-bottom: 29px;
        font-size: 14px;
        color: #00000099;
      }
      .loginForm_input_password_wrapper{
        display: flex;
        align-items: center;
        height: 0px;
        .loginForm_input_password_eye_icon{
          color: $contentTheme;
          position: relative;
          top: -30px;
          left: 85%;
          transition: 0.2s;
          cursor: pointer;
        }
        .loginForm_input_password_eye_icon:hover{
          color: $contentThemeLight;
        }
      }
      .loginForm_input_username,
      .loginForm_input_password {
        background-color: rgba(255, 255, 255, 0.37);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: none;
        height: 29px;
        width: 85%;
        margin-bottom: 10px;
        padding:5px 10px;
        border-radius: 10px;
        
      }
      .loginForm_submit {
       background-color: $contentTheme;
        margin-top: 20px;
        border: none;
        height: 40px;
        color: white;
        width: 85%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: 0.4s;
        cursor: pointer;
      }
      .loginForm_submit:hover{
        width: 77%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      }
    }
  }
}
