@import "../assets/scss/__variables.scss";

body{
    background-color: $theme;
    margin: 0px;
    padding: 0px;
}

input:focus{
    outline: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(71, 71, 71);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }